/*Base*/
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  /* max-width: 100%; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: white;
  color: black;
}
.container {
  max-width: 125rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.delivery {
  position: relative;
}
.delivery-column {
  float: left;
  width: 33.3%;
  margin-bottom: 1rem;
  padding: 1rem 1rem 1rem 0;
  text-align: center;
}
.delivery-content {
  box-shadow: 0 4px 8px 0 rgba(151, 28, 49, 0.5);
  padding: 2rem 0;
}
.delivery-icon {
  margin-bottom: 1rem;
}
.delivery-sm-link {
  color: rgb(151, 28, 49);
}
